
.collectinPage {
  background: #fffbf7;
  padding: 0 5%;
  font-family: "Lato", sans-serif;

}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 0;
}

header ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

header ul li {
  color: #000;
  font-size: 16px;
  padding: 0 10px;
  position: relative;
}
header ul li a {
  color: inherit;
  text-decoration: none;
}
.avatar-image {
  width: 24px;
  height: 24px;
  margin-left: 150px;
}

.collection-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.collection-section  .findproductshead {
  font-family: "Goldman", cursive;
  font-size: 28px;
  font-weight: 400;
  color: #000;
margin-left: 108px;
}
.card-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.card {
  width: 350px;
  height: auto;
}
.image_section {
  width: 100%;
  height: 400px;
  background-color: #E3E3E3;
}

.card img {
  width: 100%;
  height: 100%;
  /* aspect-ratio: 3/5; */
  object-fit: contain;
}
.text_section {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.card_label {
  color: #1d293f;
  font-size: 16px;
  font-weight: 500;
}
.card_priceText {
  color: #fe6a3a;
  font-size: 20px;
  font-weight: 600;
}
